# Maximum Read Length
max_rd_len=120 

[LIB] 
# Avg insert size 
avg_ins=5 

# If reverse are to be sequenced
reverse_seq=1 

# In which parts are the reads used/in which flag
asm_flags=3 

# Using only 100bps of firsts to read
rd_len_cutoff=100 

# The order in which the scaffolds are read
rank=1 

#Pair number cutoff(Default 3) 
pair_num_cutoff=3 

#Minimum Aligned read to contigs 
map_len=32 


####PAIRED#####
x1=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819794.trim_1P.fastq.gz
x2=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819794.trim_2P.fastq.gz 

x1=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819795.trim_1P.fastq.gz
x2=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR58197945.trim_2P.fastq.gz

x1=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819796.trim_1P.fastq.gz
x2=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819796.trim_2P.fastq.gz

x1=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819797.trim_1P.fastq.gz
x2=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819797.trim_2P.fastq.gz

x1=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819798.trim_1P.fastq.gz
x2=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819798.trim_2P.fastq.gz

x1=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819799.trim_1P.fastq.gz
x2=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819799.trim_2P.fastq.gz


####UNPAIRED####
x=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819794.trim_1U.fastq.gz
x=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819794.trim_2U.fastq.gz
x=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819795.trim_1U.fastq.gz
x=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819795.trim_2U.fastq.gz
x=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819796.trim_1U.fastq.gz
x=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819797.trim_1U.fastq.gz
x=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819797.trim_2U.fastq.gz
x=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819798.trim_1U.fastq.gz
x=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819798.trim_2U.fastq.gz
x=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819799.trim_1U.fastq.gz
x=/home/shsr0481/Genome_Analysis/data/raw_data/sel3/wgs_data/sel3_SRR5819799.trim_2U.fastq.gz
